<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jili20.mapper.SysMenuMapper">

    <!-- 登录 - 获取用户权限列表 -->
    <select id="selectPermsByUserId" resultType="java.lang.String">
        SELECT DISTINCT m.code,
                        m.sort
        FROM sys_user_role ur
                 JOIN sys_role_menu rm ON rm.role_id = ur.role_id
                 JOIN sys_menu m ON m.id = rm.menu_id
        WHERE ur.user_id = #{userId}
        ORDER BY m.sort
    </select>


</mapper>
